.dayCal {
  width: 100%;
}
.time-block {
  width: 90%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.time {
	height: 30px;
	text-align: right;
	color: #686868;
	font-size: 12px;
	margin: 2px !important;
	padding-right: 15px !important;
	padding-block-start: 5px;
}

.dayCal-view {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    position: relative;
	margin-top: -10px !important;
}

/* entrys related */
.entry {
    border-width: 20px 1px 1px 1px;
    border-style: solid;
    border-color: #253c53;
    border-top-color: #5d98d1 ;
    background-color: #ffffff;
    position: absolute;
    box-sizing: border-box;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 11px !important;
	border-bottom: 1px solid #5d98d1 !important;
	border-left: 1px solid #5d98d1 !important;
	border-right: 1px solid #5d98d1 !important;
	border-radius: 2px;
	padding:5px;
}

.entry-title {
  color: #292929 ;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 8px;
}

.entry-location {
  color: #797979;
  font-size: 9px;
  padding-top: 8px;
  padding-left: 8px;
}

/* Helper Classes */
small {
  font-size: 9px;
  color: #A7A7A7;
}

.clear {
  clear: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.border-blue {
  width: 4px;
  background-color: #496fa4;
}

[entry-tooltip]:before {
    /* needed - do not touch */
    content: attr(entry-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[entry-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    border-width: 2px;
    border-style: solid;
    border-color: #d6d6d6;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;    
}

[entry-tooltip]:not([entry-tooltip-persistent]):before {
    pointer-events: none;
}
